@import "./Tox-shadow.scss";
header{
    font-family: "Shrikhand", cursive;
    text-align: center;
    padding: 0.2rem;
    position: relative;    
    margin: 0;
    @include base;
    }
    .vil1{
        text-align: center;
        background-color: #fafafa;
    }
    .ville{
        background-color: #eaeaea;
        color: #353535;
        text-align: center;
        padding: 0.3rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        & i{
            font-size: 1rem;
        }
    }